<!DOCTYPE html>
<html>

<head>

<title>ANS Test</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">
Dyscalculia Detection System
</div>

<div class="container">

<div class="card center">

<h2>ANS Task (Trial {{ trial }}/10)</h2>

<p>Click the side with <b>MORE dots</b></p>

<form method="post" action="/submit_ans" id="ansForm">

<input type="hidden" name="choice" id="choice">
<input type="hidden" name="response_time" id="response_time">

<div class="dot-container">

<div class="dot-box" onclick="choose('left')">

{% for i in range(left) %}
<span class="dot">●</span>
{% endfor %}

</div>

<div class="dot-box" onclick="choose('right')">

{% for i in range(right) %}
<span class="dot">●</span>
{% endfor %}

</div>

</div>

</form>

</div>

</div>

<script>

let startTime = Date.now();

function choose(side){

let endTime = Date.now();
let rt = (endTime - startTime) / 1000;

document.getElementById("choice").value = side;
document.getElementById("response_time").value = rt;

document.getElementById("ansForm").submit();

}

</script>

</body>
</html>