{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2 class="center">Test History</h2>

    <table class="history-table">

        <thead>
            <tr>
                <th>ANS Accuracy</th>
                <th>ANS RT</th>
                <th>Working Memory</th>
                <th>Symbolic Accuracy</th>
                <th>Symbolic RT</th>
                <th>Risk Level</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

            {% for r in results %}

            <tr>

                <td>{{ r.ans_acc }}</td>
                <td>{{ r.ans_rt }}</td>
                <td>{{ r.wm_k }}</td>
                <td>{{ r.sym_acc }}</td>
                <td>{{ r.sym_rt }}</td>

                <td>

                    {% if r.risk_level == "Highest Risk" %}
                    <span class="risk-high">Highest Risk</span>

                    {% elif r.risk_level == "Medium Risk" %}
                    <span class="risk-medium">Medium Risk</span>

                    {% elif r.risk_level == "Lowest Risk" %}
                    <span class="risk-low">Lowest Risk</span>

                    {% else %}
                    <span class="risk-none">No Dyscalculia Detected</span>

                    {% endif %}

                </td>

                <td>{{ r.created_at }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    <br>

    <a href="/dashboard" class="btn btn-primary">Back</a>

</div>

{% endblock %}