<!DOCTYPE html>
<html>

<head>

<title>Parent Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">
Dyscalculia Detection System
</div>

<div class="container">

<div class="card center">

<h2>Parent Dashboard</h2>

<p>Welcome <b>{{ user }}</b></p>

<br>

<a href="/history" class="btn btn-primary">
View Child Test History
</a>

<br><br>

<a href="/logout" class="btn btn-danger">
Logout
</a>

</div>

</div>

</body>
</html>